@model Blog

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-lg-12">
        <div class="row justify-content-lg-between">
            <div class="col-lg-3">
                <h1 class="h3 mb-4 text-gray-800">Brand Create Page</h1>
            </div>
        </div>

    </div>
    <div class="col-lg-12">
        <form method="post">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desc"></label>
                <textarea asp-for="Desc" class="form-control"  rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@section Scripts{
    @*CK Editor 5*@
   @* <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#Desc'))
            .catch(error => {
                console.error(error);
            });
    </script>*@

    @*CK Editor 4*@ 
    <script src="https://cdn.ckeditor.com/4.20.2/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('Desc');
    </script>
        
}