
@{
    ViewData["Title"] = "Chat";
}

<h1>Chat</h1>
<div class="container " id="groupContainer">
    <div class="row p-1">
        <div class="col-1">Qruplar</div>
        <div class="col-5">
            <select id="group">
                <option selected>Qrup Sec</option>>
                <option value="1">Qrup 1</option>
                <option value="2">Qrup 2</option>
                <option value="3">Qrup 3</option>
            </select>
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <input type="button" id="joinGroup" value="Join Group" />
        </div>
    </div>
</div>
<div id="chatContainer" class="container  d-none">
    <div class="row p-1">
        <div class="col-1">User</div>
        <div class="col-5"><input type="text" id="userInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>